body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #007bff; /* Bleu principal */
}

p {
    font-size: 16px;
    line-height: 1.6;
}

/* Ajouter un peu de style aux liens */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#map {
    height: 400px; /* Ajustez la hauteur de la carte selon vos besoins */
    width: 100%;
}
